[
    {
        "scope": "http://export.arxiv.org:80",
        "method": "GET",
        "path": "/oai2?verb=ListSets",
        "body": "",
        "status": 200,
        "response": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n<responseDate>2018-06-21T14:31:06Z</responseDate>\n<request verb=\"ListSets\">http://export.arxiv.org/oai2</request>\n<ListSets>\n<set>\n <setSpec>cs</setSpec>\n <setName>Computer Science</setName>\n</set>\n<set>\n <setSpec>econ</setSpec>\n <setName>Economics</setName>\n</set>\n<set>\n <setSpec>eess</setSpec>\n <setName>Electrical Engineering and Systems Science</setName>\n</set>\n<set>\n <setSpec>math</setSpec>\n <setName>Mathematics</setName>\n</set>\n<set>\n <setSpec>physics</setSpec>\n <setName>Physics</setName>\n</set>\n<set>\n <setSpec>physics:astro-ph</setSpec>\n <setName>Astrophysics</setName>\n</set>\n<set>\n <setSpec>physics:cond-mat</setSpec>\n <setNam[...]
